.section {
  margin: 40px 0;
  .col-6 {
    max-height: 670px;
  }
  .section-tilte {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #000000d1;
    overflow: hidden;
    text-transform: uppercase;
    background-color: #fff;
    margin-bottom: 24px;
    padding: 6px;
    &::before {
      margin-left: -100%;
      margin-right: 10px;
    }
    &::after {
      margin-right: -100%;
      margin-left: 10px;
    }
    &::before,
    &::after {
      content: '';
      width: 100%;
      border-bottom: 1px solid #000000d1;
      display: inline-block;
      vertical-align: middle;
    }
  }
}