<div class="row no-gutters">
  <div class="col-8 col-md-8">
    <div class="row no-gutters">
      <div class="col-3 col-md-3">
        <img 
          src="https://t-static.dafiti.com.br/ZPkR2EHEkUXWZCZobRPi0JXaITw=/fit-in/430x623/static.dafiti.com.br/p/ride-skateboard-t%c3%aanis-ride-skateboard-mid-tornado-vinho-0347-0716981-1-zoom.jpg" 
          class="img-fluid" 
          style="width: 70%;"
          alt="Responsive image"
        >
      </div>
      <div class="col-5 col-md-5 align-self-center">
        <div class="d-grid">
          <span class="title d-block text-truncate">Ride Skateboard</span>
          <span class="sub-title d-block text-truncate">Tênis Ride Skateboard Mid Tornado Vinho</span>
          <span>Sku - RI087SHM29WZQ-49</span>
          <span>Tipo de frete: Leve</span>
          <span>Vendido e entregue por Kanui</span>
          <span>Remover Produto</span>
        </div>
      </div>
      <div class="col-4 col-md-4 align-self-center border-right">
        <div class="row no-gutters justify-content-between align-items-center px-2">
          <div class="col-6 col-md-6 mb-2">
            <span class="font-weight-bolder">Tamanho:</span>
          </div>
          
          <div class="col-6 col-md-6">
            <ng-select 
              appearance="outline"
              [clearable]="false"
              [items]="sizes"
              [(ngModel)]="size">
            </ng-select>
          </div>
        </div>
        <div class="row no-gutters justify-content-between align-items-center px-2">
          <div class="col-6 col-md-6 mb-2">
            <span class="font-weight-bolder">Quantidade:</span>
          </div>
         
          <div class="col-6 col-md-6">
            <ng-select 
              appearance="outline"
              [clearable]="false"
              [items]="quantities"
              [(ngModel)]="amount">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 col-md-4 px-3" style="align-self: flex-end;">
    <div class="row no-gutters">
      <div class="col-12 col-md-12 pb-2 border-bottom border-light">
        <div class="d-flex justify-content-between">
          <span class="font-weight-light">Individual</span>
          <span class="font-weight-bolder">R$ 134,99</span>
        </div>
      </div>
      <div class="col-12 col-md-12 my-3">
        <div class="d-flex justify-content-between">
          <span>Subtotal</span>
          <span class="font-weight-bold">R$ 134,99</span>
        </div>
      </div>
    </div>
  </div>
</div>