<div class="row no-gutters">
  <div class="col-8 col-md-8">
    <div class="row no-gutters">
      <div class="col-3 col-md-3">
        <img 
          [src]="product.miniature" 
          class="img-fluid" 
          style="width: 70%;"
          alt="Responsive image"
        >
      </div>
      <div class="col-5 col-md-5 align-self-center">
        <div class="d-grid">
          <span class="title d-block text-truncate">{{ product.name }}</span>
          <span class="sub-title d-block text-truncate">{{ product.details.substr(0,30) }}</span>
          <span>Tipo de frete: Leve</span>
          <span>Vendido e entregue por Kanui</span>
          <div class="my-2 trash" (click)="remove()">
            <mdb-icon fas icon="trash-alt"></mdb-icon>
            <span class="ml-2">Remover Produto</span>
          </div>
          
        </div>
      </div>
      <div class="col-4 col-md-4 align-self-center border-right">
        <div class="row no-gutters justify-content-between align-items-center px-2">
          <div class="col-6 col-md-6 mb-2">
            <span class="font-weight-bolder">Tamanho:</span>
          </div>
          
          <div class="col-6 col-md-6">
            <ng-select 
              appearance="outline"
              [clearable]="false"
              [items]="sizes"
              [(ngModel)]="size">
            </ng-select>
          </div>
        </div>
        <div class="row no-gutters justify-content-between align-items-center px-2">
          <div class="col-6 col-md-6 mb-2">
            <span class="font-weight-bolder">Quantidade:</span>
          </div>
         
          <div class="col-6 col-md-6">
            <ng-select 
              [(ngModel)]="amount"
              (change)="onChange($event)"
              [clearable]="false"
              [items]="quantities"
              appearance="outline"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 col-md-4 px-3" style="align-self: flex-end;">
    <div class="row no-gutters">
      <div class="col-12 col-md-12 pb-2 border-bottom border-light">
        <div class="d-flex justify-content-between">
          <span class="font-weight-light">Individual</span>
          <span class="font-weight-bolder">R$ {{ money(product.unitary_value) }}</span>
        </div>
      </div>
      <div class="col-12 col-md-12 my-3">
        <div class="d-flex justify-content-between">
          <span>Subtotal</span>
          <span class="font-weight-bold">R$ {{ money(product.unitary_value * product.amount) }}</span>
        </div>
      </div>
    </div>
  </div>
</div>