<div class="container container-login">
  <mdb-card>
    <mdb-card-header class="color-default text-center font-default py-3">
      <h5 class="font-default font-weight-bold">Login</h5>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5 pt-0">
      <form [formGroup]="loginForm" class="text-center" style="color: #757575;">
        <div class="md-form">
          <input 
            class="form-control"
            formControlName="email" 
            type="text" 
            id="email" 
            mdbInput 
          >
          <label for="email" class="">E-mail</label>
          <mdb-error *ngIf="loginForm.get('email').errors?.email">
            E-mail inválido
          </mdb-error>
          <mdb-error *ngIf="loginForm.get('email').errors?.required">
            Campo Obrigatório
          </mdb-error>
        </div>
        <div class="md-form">
          <input 
            class="form-control"
            formControlName="password" 
            type="password" 
            id="password" 
            mdbInput 
          >
          <label for="password" class="">Senha</label>
          <mdb-error *ngIf="loginForm.get('password').errors?.required">
            Campo Obrigatório
          </mdb-error>
        </div>
        <button 
          (click)="login()"
          [disabled]="loginForm.invalid"
          class="my-4 waves-effect z-depth-0 color-default" 
          rounded="true" 
          block="true" 
          mdbBtn 
          mdbWavesEffect>ENTRAR
        </button>
        <div class="text-center">
          <mdb-checkbox [default]="true" class="font-default">
            <span>Mantenha-me conectado</span>
          </mdb-checkbox>
        </div>
        <div class="d-flex justify-content-around align-items-center my-3">
          <div class="font-default text-helper">
            <a >Esqueceu sua senha?</a>
          </div>
          <div class="font-default text-helper">Não possui cadastro?
            <a href="">Cadastrar-se</a>
          </div>
        </div>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>