<mdb-card class="card py-3 px-3">
  <div class="row no-gutters">
    <div *ngIf="_loading; else message" class="skeleton">
      <ngx-skeleton-loader count="4"></ngx-skeleton-loader>
    </div>
    <ng-template #message *ngIf="_message; else loading"></ng-template>
    <ng-template #loading>
      <div class="col-6 col-md-6" *ngFor="let item of primary; let i = index">
        <h3 *ngIf="i == 0; else delivery" class="border-bottom mr-3 pb-2 title-address">ENDEREÇO PRINCIPAL</h3>
        <ng-template #delivery>
          <h3 class="border-bottom mr-3 pb-2 title-address">ENDEREÇO ENTREGA</h3>
        </ng-template>
        
        <div class="row ml-1">
          <span class="col-12 col-md-12 text-address">{{ item.street + ', ' + item.number }}</span>
          <span class="col-12 col-md-12 text-address">{{ item.cep + ' - ' + item.neighborhood }}</span>
          <span class="col-12 col-md-12 text-address">{{ item.city + ' - ' + item.state }}</span>
          <span class="col-12 col-md-12 text-address">(47) 3473-5658 / (47) 99737-1679</span>
        </div>
      </div>
    </ng-template>

    <div class="col-12 col-md-12 my-3">
      <div *ngIf="_loading; else loading2" class="skeleton">
        <ngx-skeleton-loader count="4"></ngx-skeleton-loader>
      </div>
      <ng-template #loading2>
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="title-address">ENDEREÇOS CADASTRADOS</h3>
          <app-address-modal (reload)="reload($event)"></app-address-modal>
        </div>

        <div *ngIf="_message; else table">
          <div class="alert alert-light text-center" role="alert">{{ _message }}</div>
        </div>

        <ng-template #table>
          <table mdbTable>
            <tbody>
              <tr mdbTableCol *ngFor="let item of _address; let i = index">
                <th scope="row">{{ i }}</th>
                <td class="text-address text-left">{{ item.cep }}</td>
                <td class="text-address text-left">
                  {{ item.street + ', ' + item.number + '  ' + item.neighborhood + '  -  ' + item.city + '  -  ' + item.state }}
                </td>
                <td class="text-center">
                  <div class="btn-group" mdbDropdown>
                    <mdb-icon  mdbDropdownToggle mdbWavesEffect fas icon="ellipsis-h" class="p-1"></mdb-icon>
                    <div class="dropdown-menu dropdown-primary w-50">
                      <span class="dropdown-item" (click)="edit(el)">Editar</span>
                      <span class="dropdown-item" (click)="delete(el)">Excluir</span>
                      <span class="dropdown-item" (click)="delete(el)">Principal</span>
                      <span class="dropdown-item" (click)="delete(el)">Entrega</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-template>
    </div>
  </div>
</mdb-card>

