<div class="container toolbar mt-2">
  <div class="row">
    <div class="col-4">
      <img alt="Loja" [src]="logo"/>
    </div>
    
    <div class="col-8 row">
      <div class="col-8 row">
        <div class="col-12">
          Login/Cadastro
        </div>
        <div class="col-12">
          Atendimento ao cliente
        </div>
      </div>
      <div class="col-4">
        Carrinho
      </div>
      <div class="col-12">
        <app-search-button></app-search-button>
      </div>
    </div>
  </div>
</div>

