<div class="container cart">
  <div class="col-12 col-md-12 row no-gutters align-items-center border-bottom border-light py-3">
    <div class="col-md-8 d-flex flex-column">
      <span class="title-cart">CARRINHO - KANUI</span>
      <span class="title-acount">2 ITENS</span>
    </div>
    <div class="col-md-4">
      <button 
        type="button" 
        class="botton-finish"
        block="true"
        mdbBtn  
        mdbWavesEffect>Finalizar Compra
      </button>
    </div>
  </div>
  <div class="col-12 col-md-12 border-cells" *ngFor="let product of products">
    <app-cells [product]="product"></app-cells>
  </div>
  <div class="col-12 col-md-12 total">
    <div class="row no-gutters">
      <div class="col-8 col-md-8 pr-3">
        <span class="title-cart d-block py-2">Endereço para entrega</span>
        <form>
          <div class="form-row align-items-center" style="justify-content: flex-end;">
            <div class="col-auto">
              <label>DIGITE SEU CEP</label>
            </div>
            <div class="md-form md-outline form-sm my-2">
              <input 
                [(ngModel)]="cep"
                [ngModelOptions]="{standalone: true}"
                id="form-sm" 
                class="form-control form-control-sm" 
                type="text" 
                mdbInput
              >
            </div>
            <div class="col-auto">
              <button 
                type="submit" 
                size="sm"  
                color="primary" 
                class="mt-0" 
                style="width: 110px;"
                (click)="searchFreight()"
                mdbBtn>
                <div *ngIf="!loading_freight; else loading_cep">
                  Consultar
                </div>
                <ng-template #loading_cep>
                  <div class="spinner-grow text-dark" role="status" *ngFor="let item of [1,2,3]">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-template>
              </button>
            </div>
          </div>
        </form>
        <ul class="list-group freight-list">
          <li *ngFor="let item of freight; let i = index" class="list-group-item py-0">
            <div class="row no-gutters justify-content-between align-items-center">

              <div class="col-3">
                <label class="radio">
                  <input 
                    type="radio"
                    name="radio"
                    [disabled]="!isDisabled(item.error)"
                    id="radio-{{item.code}}"
                    [(ngModel)]="value_freight"
                    [value]="item.code"
                  >
                  <span></span>
                </label>
              </div>

              <span class="text-muted col-3">{{  money(item.price)  }}</span>
              <span class="font-weight-bolder col-3">{{  item.name  }}</span>
              <span 
                *ngIf="isDisabled(item.error); else notavailable" 
                class="list-term col-3">até {{ item.deadline }} dias úteis
              </span>
              <ng-template #notavailable>
                <span class="list-term col-3">Não disponivel</span>
              </ng-template>
              
            </div>
          </li>
        </ul>
       
      </div>
      <div class="col-4 col-md-4">
        <span class="title-cart d-block py-2 mb-2">Resumo</span>
        <ul class="list-group freight-list">
          <li class="list-group-item py-1" *ngFor="let item of resume">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">{{ item.text }}</span>
              <span class="font-weight-bolder">{{ item.value }}</span>
            </div>
          </li>
        </ul>
        <ul class="list-group my-2">
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <span class="h4">Total</span>
              <span class="h4">{{ money(totalProduct + priceFreight) }}</span>
            </div>
            <div class="d-block text-right">
                em até 7x de {{ money( (totalProduct + priceFreight) / 7) }}
            </div>
          </li>
        </ul>
        <div class="d-block">
          <button 
            type="button" 
            class="botton-finish"
            block="true"
            mdbBtn  
            (click)="finish()"
            mdbWavesEffect>Finalizar Compra
          </button>
        </div>
        
      </div>
    </div>
  </div>
</div>