

<button 
  (click)="frame.show()"
  type="button" 
  size="sm" 
  class="color-default" 
  data-toggle="modal" 
  data-target="#basicExample"
  mdbBtn 
  mdbWavesEffect
>Novo</button>

<div 
  mdbModal 
  #frame="mdbModal" 
  class="modal fade left" 
  id="frameModalTop" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="myModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left color-default">
        <h4 class="modal-title w-100 font-weight-bold">Novo Endereço</h4>
        <button 
          type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close" 
          (click)="frame.hide()"
        >
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8 col-md-8">
            <div class="md-form my-1">
              <input 
                type="text"
                id="street" 
                [formControl]="street" 
                class="form-control"
                mdbInput 
                mdbValidate
              >
              <label for="street">Rua</label>
              <mdb-error *ngIf="street.invalid && (street.dirty || street.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="md-form my-1">
              <input 
                type="text"
                id="number" 
                [formControl]="number" 
                class="form-control"
                mdbInput 
                mdbValidate
              >
              <label for="number">N°</label>
              <mdb-error *ngIf="number.invalid && (number.dirty || number.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="md-form my-1">
              <input 
                type="text"
                id="complement" 
                [formControl]="complement" 
                class="form-control"
                mdbInput 
                mdbValidate
              >
              <label for="complement">Complemento</label>
              <mdb-error *ngIf="complement.invalid && (complement.dirty || complement.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="md-form my-1">
              <input 
                type="text"
                id="neighborhood" 
                [formControl]="neighborhood" 
                class="form-control"
                mdbInput 
                mdbValidate
              >
              <label for="neighborhood">Bairro</label>
              <mdb-error *ngIf="neighborhood.invalid && (neighborhood.dirty || neighborhood.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="md-form my-1">
              <input 
                type="text"
                id="cep" 
                [formControl]="cep" 
                class="form-control"
                mdbInput 
                mdbValidate
              />
              <label for="cep">CEP</label>
              <mdb-error *ngIf="cep.invalid && (cep.dirty || cep.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="md-form my-1">
              <input 
                type="text"
                id="city" 
                [formControl]="city" 
                class="form-control"
                mdbInput 
                mdbValidate
              >
              <label for="city">Cidade</label>
              <mdb-error *ngIf="city.invalid && (city.dirty || city.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="md-form my-1">
              <input 
                type="text"
                id="state" 
                [formControl]="state" 
                class="form-control"
                mdbInput 
                mdbValidate
              >
              <label for="state">Estado</label>
              <mdb-error *ngIf="state.invalid && (state.dirty || state.touched)">
                Campo Obrigatório
              </mdb-error>
            </div>
          </div>
        </div> 
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button
          (click)="register()" 
          [disabled]="addressForm.invalid || _loading"
          class="waves-light color-default" 
          mdbBtn 
          mdbWavesEffect
        >
        <div *ngIf="!_loading; else loading_store">Cadastrar</div>
        <ng-template #loading_store>
          <div class="spinner-grow text-dark" role="status" *ngFor="let item of [1,2,3]">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
      
        </button>
      </div>
    </div>
  </div>
</div>
