<div class="row no-gutters align-items-center justify-content-center">
  <div class="col-md-12">
    <ul class="stepper stepper-horizontal m-0 py-1">
      <li>
        <a class="p-3">
          <span class="circle green white-text">
            <mdb-icon fas icon="check" size="lg"></mdb-icon>
          </span>
          <span class="label">Produto</span>
        </a>
      </li>
      <li>
        <a class="p-3">
          <span class="circle green white-text">
            <mdb-icon fas icon="check" size="lg"></mdb-icon>
          </span>
          <span class="label">Carrinho</span>
        </a>
      </li>
      <li>
        <a class="p-3">
          <span class="circle green white-text">
            <mdb-icon fas icon="check" size="lg"></mdb-icon>
          </span>
          <span class="label">Identificação</span>
        </a>
      </li>
      <li class="active">
        <a class="p-3">
          <span class="circle green white-text">
            <mdb-icon fas icon="exclamation" size="lg"></mdb-icon>
          </span>
          <span class="label">Pagamento
          </span>
        </a>
      </li>
      <li>
        <a class="p-3">
          <span class="circle white-text">
            <mdb-icon fas icon="exclamation" size="lg"></mdb-icon>
          </span>
          <span class="label">Confirmação</span>
        </a>
      </li>
    </ul>
  </div>
</div>
