.container-text {
  overflow: hidden;
  display: grid;
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mask {
  height: 75px !important;
  top: 73% !important;
  .icon {
    margin-right: 0.5em;
  }
}
