@import '~normalize.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*,
:after,
:before {
  box-sizing: border-box
}

.app-cart {
  .popover {
    top: 4px !important;
    left: -148px !important;
    width: 367px !important;
    max-width: none !important;
    &::before,
    &::after {
      left: 92% !important;
    }
    .itens-container {
      .image-content {
        .img-fluid {
          width: 70%;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        .name {
          font-family: Roboto;
          font-size: 12px;
          color: #000;
          font-weight: 700;
        }
        .size {
          font-size: 9px;
          color: #858585;
        }
        .price {
          font-size: 14px;
          color: #000;
        }
      }
      
    }
  }
}